*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
body, table{
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header{
    width: 80%;
    height: 20vh;
    background-color: yellow;
}
.white{
    background-color: white;
    border: 1em solid yellow;
    width: 20%;
}
.red{
    background-color: red;
    height: 10vh;
}
.body{
    width: 100%;
}
.left_col{
    background-color: blue;
    width:20%;
    height: 100%;
}
.right_col{
    width:50%;
    height: 10%;
}
.inside_left{
    background-color: white;
    width: 25%;
    height: 90%;
    
}
.inside_right{
    background-color: blue;
    /*border: 20px solid white;*/
    width: 25%;
    height: 90%;
}
.footer{
    background-color: yellow;
    width: 100%;
    height: 20vh;
}

