*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#1{
    border: 5px solid black;
}

.header{
    width: 1000px;
    height: 100px;
    background-color: yellow;
}
.white{
    background-color: white;
    border: 20px solid yellow;
}
.red{
    background-color: red;
    height: 100px;
}
.body{
    width: 1000px;
}
.left_col{
    background-color: blue;
    width:200px;
    height: 1000px;
}
.right_col{
    width:500px;
    height: 100px;
}
.inside_left{
    background-color: white;
    width: 250px;
    height: 900px;
    
}
.inside_right{
    background-color: blue;
    /*border: 20px solid white;*/
    width: 250px;
    height: 900px;
}
.footer{
    background-color: yellow;
    width: 1000px;
    height: 100px;
}

