*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100%;
}

h1{
    font-weight: 900;
    width: 80%;
    background-color: orange;
    margin: 0.5em auto;
}

h2{
    margin: 1% 2%;
}

section{
    margin: 5%;
}

footer{
    display: flex;
    justify-content: space-between;
    height: 6vh;
}

.list li{
    font-weight: 700;
    max-width: 20%;
    background-color: orange;
    padding: 1%;
}

.list{
    width: 90%;
    display: inline-flex;
    justify-content: space-around;
}

.block{
    font-size: smaller;
    max-width: 20%;
    border: 2px solid black;
    padding: 1%;
}

.blockimg{
    width: 112%;
    margin-top: 20%;
    bottom: 0;
    margin: 22% -1% -8% -6%;
    border: 1px solid black;
}

.num{
    width: 5%;
    height: 5%;
    font-weight: 600;
    width: fit-content;
    background-color: orange;
    border-radius: 50px 50px 50px 50px;
    margin: 5%;
    padding: 5%;
}

.blocks{
    display: flex;
    justify-content: space-around;
}

.level{
    display: flex;
    justify-content: center;
}

.text{
    padding: 2%;
}

.year{
    color: white;
    background-color: midnightblue;
    width: 70%;
    padding: 2% ;
}

.fa-brands{
    color: white;
}

.icon{
    max-width: fit-content;
    background-color: midnightblue;
    padding: 2% 1.5% ;
}

