*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
}
nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    padding: 10px;
    margin: 1% 0px;
    border: 2px solid black;
    border-radius: 10px;
    flex-wrap: wrap;
    width: 100px;
    
}
article{
    display: flex;
    padding: 10px;
}
aside{
    flex-grow: 1;
}
li{
    text-align: center;
    list-style-type:none;
    border: 2px solid black;
    border-radius: 20px;
    margin: 3%;
    padding: 15px;
}
li a{
    text-decoration: none;
    font-size: x-large;  
}
.list2{
    justify-content: right;
}
iframe{
    flex-grow: 10;
    border: 2px solid black;
}


